CRORIS_USERNAME=your_username
CRORIS_PASSWORD=your_password
# CRORIS_BASE_URL=https://www.croris.hr/projekti-api  # opcionalno
# CRORIS_PAGE_SIZE=50                                  # opcionalno
# CRORIS_TIMEOUT=30                                    # opcionalno
